@import url(https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
}

* {
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

header {
  background: url(./images/main_bg.jpg) no-repeat center center/cover;
  font-family: Lora, sans-serif !important;
  min-height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(51, 51, 51, 0.7);
}

.mw {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 2vw 0;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  transition: 0.5s;
}

.left_side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.logo a {
  width: 60px;
  display: block;
}

.logo a img {
  width: 100%;
  height: auto;
}

.main_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.main_nav li {
  padding-right: 20px;
}

.main_nav li:last-child {
  padding-right: 0;
}

.phone {
  animation: phone 0.9s ease-in-out infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.burger_nav {
  display: none;
}

.main_nav li a,
.phone a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.9px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: transform 0.5s;
}

.main_nav li a:hover,
.phone a:hover {
  color: rgb(250, 200, 0);
  border-bottom: 1px solid #c7c7c7;
}

.main_nav li a:active,
.phone a:active {
  color: rgb(200, 200, 0);
}

.main_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 94px;
  height: 80vh;
}

.main_title {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2.62px;
  max-width: 800px;
  line-height: 1.2;
}

.main_cont p {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.9px;
  max-width: 800px;
}

.main_button {
  padding-left: 39px;
  width: 100%;
  max-width: 800px;
}

.main_button a {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  background-color: #fac800;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.9px;
  text-align: center;
  padding: 12px 10px;
  cursor: pointer;
  display: block;
}
.main_button a:hover {
  transition: 0.5s;
  background-color: rgb(200, 200, 0, 1);
}
.main_button a::after {
  transition: 0.5s;
  background-color: rgb(190, 190, 0);
  color: #000;
}
.main_button a:active {
  background-color: rgb(250, 200, 0, 1);
  color: #000;
}
.services {
  font-family: Lora, sans-serif !important;
}
.services .mw {
  padding: 5vh 15px;
  padding-bottom: 100px;
}

.m_title {
  padding-bottom: 40px;
}
.title {
  color: #000;
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 2.75px;
  text-align: center;
}
.services .cont {
  padding-top: 40px;
}
.services_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.service_block {
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  background-color: #e3e3e3;
  padding: 30px 20px;
  transition: 0.5s;
  margin: 0 20px;
  min-height: 550px;
  border: solid 1px rgb(250, 200, 0);
}

.service_block:hover {
  /* box-shadow: 0 20px 64px 15px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 20px 64px 15px rgba(250, 200, 0, 0.1);
  transform: scale(1.1);
  z-index: 4;
  border: solid 1px rgb(250, 200, 0);
}

.service_icon {
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.service_icon img {
  height: 100%;
}
.service_title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding-bottom: 30px;
  min-height: 80px;
}
.service_block ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 20px;
}
.service_block ul li b {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.92px;
}

.soc_block {
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  z-index: 99;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fac800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
}

.fas_icon {
  transition: 0.5s ease-in-out;
  color: #fff;
  text-align: center;
  font-size: 20px;
  transform: rotate(0deg);
  width: 50px;
}

.pulse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid #fac800;
  border-radius: 50%;
  animation: pulse 1.8s linear infinite;
  opacity: 0.5;
}

.our_works {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.our_works .mw {
  padding: 5vh 15px;
}

.our_works .mw .m_title {
  padding-bottom: 50px;
}

.wrapper {
  display: flex;
  max-width: 650px;
  width: 100%;
  height: 400px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: solid 1px rgb(250, 200, 0);
}
.wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}
.image-container {
  height: 320px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}
.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  height: 100%;
  min-width: 100%;
  border-radius: 18px;
  border: 10px solid #fff;
  object-fit: cover;
}

.remote_costing .mw {
  padding: 5vw 15px;
}

.remote_costing .mw .cont {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.remote_costing .mw .cont .left_side {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.remote_costing .mw .cont .left_side img {
  width: 100%;
  max-width: 240px;
  opacity: 0.8;
}
.remote_costing .mw .cont .right_side h5 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.2px;
  padding-bottom: 30px;
}
.remote_costing .mw .cont .right_side p {
  padding-bottom: 30px;
}
.remote_costing .mw .cont .right_side p b {
  font-weight: 600;
}

.remote_costing .mw .cont .right_side ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.remote_costing .mw .cont .right_side ul li {
  margin-right: 20px;
}

.remote_costing .mw .cont .right_side ul li:last-child {
  margin-right: 0;
}

.remote_costing .mw .cont .right_side ul li a {
  width: 140px;
  border-radius: 5px;
  border: 2px solid #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #f0f0f0;
  letter-spacing: 0.8px;
  transition: 0.5s;
}

.remote_costing .mw .cont .right_side ul li a .fas_icon {
  transition: 0.5s;
}

.remote_costing .mw .cont .right_side ul li a span {
  padding-left: 8px;
  transition: 0.5s;
}

.remote_costing .mw .cont .right_side ul li a:active .fas_icon,
.remote_costing .mw .cont .right_side ul li a:focus .fas_icon,
.remote_costing .mw .cont .right_side ul li a:hover .fas_icon {
  color: #f0f0f0;
}

.remote_costing .mw .cont .right_side ul li a:active span,
.remote_costing .mw .cont .right_side ul li a:focus span,
.remote_costing .mw .cont .right_side ul li a:hover span {
  color: #f0f0f0;
}

.remote_costing .mw .cont .right_side ul li #whatsapp {
  background-color: #49bc57;
  border-color: #49bc57;
}

.remote_costing .mw .cont .right_side ul li #whatsapp:hover {
  background-color: #399944;
  border-color: #399944;
}

.remote_costing .mw .cont .right_side ul li #viber {
  background-color: #7b519c;
  border-color: #7b519c;
}

.remote_costing .mw .cont .right_side ul li #viber:hover {
  background-color: #61407a;
  border-color: #61407a;
}

.remote_costing .mw .cont .right_side ul li #telegram {
  background-color: #34abe3;
  border-color: #34abe3;
}

.remote_costing .mw .cont .right_side ul li #telegram:hover {
  background-color: #1c91c8;
  border-color: #1c91c8;
}

.contacts {
  background-color: #f8f8f8;
}

.contacts .mw {
  padding: 5vh 15px;
  padding-bottom: 20px;
}

.contacts .mw .cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contacts .mw .cont .left_side {
  width: 50%;
}

.contacts .mw .cont .left_side .c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 270px;
  margin: 0 auto;
}

.contacts .mw .cont .left_side .logo {
  padding-bottom: 50px;
  width: 120px;
}

.contacts .mw .cont .left_side .logo img {
  width: 100%;
}

.contacts .mw .cont .left_side ul.info li {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.9px;
}

.contacts .mw .cont .left_side ul.info li a {
  color: #000;
}

.contacts .mw .cont .left_side ul.info li a:hover {
  color: #fac800;
}

.contacts .mw .cont .left_side .soc_icons {
  padding-top: 60px;
}

.contacts .mw .cont .left_side .soc_icons h5 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.9px;
  padding-bottom: 10px;
}

.contacts .mw .cont .left_side .soc_icons ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contacts .mw .cont .left_side .soc_icons ul li {
  margin-right: 10px;
}

.contacts .mw .cont .left_side .soc_icons ul li:last-child {
  margin-right: 0;
}

.contacts .mw .cont .left_side .soc_icons ul li a {
  width: 30px;
  height: 30px;
  display: block;
  background-color: #363333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.contacts .mw .cont .left_side .soc_icons ul li a .fas_icon {
  font-size: 18px;
}

.contacts .mw .cont .left_side .soc_icons ul li a:hover {
  background-color: #fac800;
}

.contacts .mw .cont .right_side {
  width: 50%;
  position: relative;
  height: 400px;
}

.contacts .mw .cont .right_side .map {
  width: 100%;
  height: 100%;
  box-shadow: -4px 5px 20px 1px rgba(83, 83, 83, 0.18);
  top: 0;
}

.contacts .mw .footer {
  padding-top: 50px;
}

.contacts .mw .footer p {
  color: #000;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.7px;
}
@media (max-width: 890px) {
  .main_title {
    font-size: 45px;
  }
}
@media (max-width: 850px) {
  .main_title {
    font-size: 35px;
  }
  .title {
    font-size: 35px;
  }
  .main_cont p {
    line-height: 30px;
  }
  .main_nav li {
    padding-right: 15px;
  }
  .services_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service_block {
    margin-bottom: 30px;
  }

  .m_title {
    padding-bottom: 0px;
  }
  .remote_costing .mw .cont {
    display: flex;
    flex-direction: column;
  }
  .services .mw {
    padding-bottom: 0px;
  }
  .contacts .mw .cont .left_side {
    width: auto;
  }
}
/* планшет */
@media (max-width: 767px) {
  .title {
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 10px;
  }
  .burger_nav.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(51, 51, 51);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    transition: transform 2s;
  }
  .burger_nav li {
    padding: 5px;
  }

  .burger_nav li a {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.9px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: 0.5s;
  }
  .burger_nav li a:hover {
    color: rgb(250, 200, 0);
  }

  .menu-burger__header {
    position: relative; /* задаем относительное позиционирование */
    width: 40px; /* определяем размеры блока */
    height: 35px;
    display: block;
    margin-left: 10px;
    z-index: 4;
  }
  .menu-burger__header:hover {
    cursor: pointer;
  }

  .menu-burger__header span,
  .menu-burger__header:after,
  .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #fff;
    margin: 0 auto;
  }
  .hidden {
    overflow: hidden;
  }

  .menu-burger__header span {
    top: 16px;
  }
  .menu-burger__header:after,
  .menu-burger__header:before {
    content: "";
  }
  .menu-burger__header:after {
    bottom: 5px;
  }
  .menu-burger__header:before {
    top: 5px;
  }

  .menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s;
  }
  .menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
  }

  .main_nav,
  .phone {
    display: none;
  }
  .soc_block {
    display: block;
  }
  .soc_block .phone {
    display: contents;
  }

  .services_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .service_block {
    width: 100%;
    max-width: 340px;
    padding: 30px 20px;
    min-height: 100%;
  }
  .services .mw .cont {
    justify-content: space-around;
  }

  .contacts .mw .cont {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contacts .mw .cont .left_side .c {
    padding-bottom: 20px;
    align-items: flex-start;
  }
  .contacts .mw .cont .right_side {
    display: flex;
    justify-content: center;
  }
  .contacts .mw .cont .left_side .logo {
    padding-bottom: 10px;
  }
  .contacts .mw .cont .left_side ul.info li {
    padding-bottom: 10px;
  }
  .contacts .mw .cont .left_side .soc_icons {
    padding-top: 10px;
  }
  .contacts .mw .cont .right_side .map {
    width: 100%;
    width: 350px;
    height: 400px;
  }
  .main_button a {
    font-size: 18px;
  }
}

/* телефон альбом */
@media (max-width: 540px) {
  .cont {
    justify-content: space-between;
    padding: 0 20px;
  }
  .services .cont {
    padding-top: 20px;
  }
  .main_cont {
    padding: 0 20px;
  }
  .main_button {
    padding-left: 0px;
  }

  .services_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .service_block {
    width: 100%;
    max-width: 340px;
    padding: 30px 20px;
    margin: 30px auto;
    min-height: 100%;
  }
  .remote_costing .mw .cont .right_side ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .remote_costing .mw .cont .right_side ul li {
    margin-right: 0px;
    padding-bottom: 10px;
  }
  .contacts .mw .cont {
    flex-direction: column;
    align-items: center;
  }

  .contacts .mw .cont .right_side {
    display: flex;
    justify-content: center;
  }
  .contacts .mw .cont .left_side .logo {
    padding-bottom: 10px;
  }
  .contacts .mw .cont .left_side ul.info li {
    padding-bottom: 10px;
  }
  .contacts .mw .cont .left_side .soc_icons {
    padding-top: 10px;
  }
  .contacts .mw .cont .right_side .map {
    width: 100%;
    width: 350px;
    height: 400px;
  }
  .contacts .mw .footer p {
    font-size: 10px;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 30px;
    line-height: 30px;
  }

  .service_block {
    max-width: 226px;
    padding: 30px 20px;
    margin: 15px auto;
  }
  .service_title {
    font-size: 18px;
    text-align: center;
    min-height: 80px;
  }
  .contacts .mw .cont .right_side .map {
    width: 100%;
    width: 240px;
    height: 400px;
  }
  .remote_costing .mw .cont .right_side h5 {
    font-size: 18px;

    line-height: 20px;
  }
}
