@import url(https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic);
* {
  padding: 0;
  margin: 0;
  font-family: Lora, sans-serif !important;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background: url(./images/main_bg.jpg) no-repeat center center/cover;
  min-height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(51, 51, 51, 0.7);
}
.nav,
.left_side {
  display: flex;
}

.logo {
  width: 100px;
  height: auto;
}

.logo a {
  width: 60px;
  display: block;
}

.logo a img {
  width: 100%;
  height: auto;
}

.main_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.main_nav li {
  padding-right: 30px;
}

.main_nav li:last-child {
  padding-right: 0;
}

.main_nav li a,
.phone a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
  text-decoration: none;
}

.main_nav li a:hover,
.phone a:hover {
  color: #ff8a22;
  border-bottom: 1px solid #c7c7c7;
}

.main_nav li a.active,
.phone a.active {
  color: #ff8a22;
}

.o_xs_menu {
  display: none;
}

.main_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 94px;
}

.main_title {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2.62px;
  max-width: 800px;
  line-height: 1.2;
}

.main_cont p {
  color: #fff;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.9px;
  max-width: 800px;
  padding-bottom: 30px;
}
.main_button {
  padding-left: 39px;
  width: 100%;
  max-width: 800px;
}

.main_button a {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  background-color: #ff8a22;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.9px;
  text-align: center;
  border: none;
  padding: 12px 10px;
  cursor: pointer;
  display: block;
}
@media (max-width: 575px) {
  .o_xs_menu {
    display: block;
  }
  .main_nav,
  .phone {
    display: none;
  }
}
