@import url(https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic);
* {
  padding: 0;
  margin: 0;
  font-family: Lora, sans-serif !important;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

header {
  background: url(./images/main_bg.jpg) no-repeat center center/cover;
  min-height: 100vh;
  /* padding-top: 40px;
  padding-bottom: 60px; */
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(51, 51, 51, 0.7);
}

.header {
  /* display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; */
}

.mw {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 2vw 0;
  padding-top: 30px;
  padding-bottom: 100px;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  transition: 0.5s;
}

.left_side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.logo a {
  width: 60px;
  display: block;
}

.logo a img {
  width: 100%;
  height: auto;
}

.main_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.main_nav li {
  padding-right: 30px;
}

.main_nav li:last-child {
  padding-right: 0;
}

.main_nav li a,
.phone a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.9px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: 0.5s;
}

.main_nav li a:hover,
.phone a:hover {
  color: rgb(250, 200, 0);
  border-bottom: 1px solid #c7c7c7;
}

.main_nav li a:active,
.phone a:active {
  color: rgb(150, 200, 0);
}

.o_xs_menu {
  display: none;
}

.main_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 94px;
  height: 80vh;
}

.main_title {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2.62px;
  max-width: 800px;
  line-height: 1.2;
}

.main_cont p {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.9px;
  max-width: 800px;
}

.main_button {
  padding-left: 39px;
  width: 100%;
  max-width: 800px;
}

.main_button a {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  background-color: rgb(250, 200, 0);
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.9px;
  text-align: center;
  padding: 12px 10px;
  cursor: pointer;
  display: block;
}
.main_button a:hover {
  transition: 0.5s;
  background-color: rgb(200, 200, 0, 1);
  color: #000;
}
.main_button a:active {
  background-color: rgb(250, 200, 0, 1);
  color: #000;
}
@media (max-width: 575px) {
  .o_xs_menu {
    display: block;
  }
  .main_nav,
  .phone {
    display: none;
  }
}
